* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.section-image {
    padding: 40px 100px 100px;
}

.section-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-hover {
    transition: transform 0.1s ease-in-out;
  }

.img-hover:hover {
       transform: translateY(-8px);
}

@media (max-width: 1024px) {

    .nav-text,
    .nav-text1,
    .nav-text2,
    .search-box,
    .nav-right {
        display: none !important;
    }

    .toggle-icon {
        display: block !important;
    }


}

@media (max-width: 768px) {
    .section-image {
        padding: 20px 50px 10px;
    }
    .section__image{
        display: none;
    }
    .section1__image{
        display: block !important;
    }
}